/* style.css */

/* Apply a subtle off-white background color to all pages */
body {
    background-color: #FFF8DC;
    font-family: Georgia, serif;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}








